.alice-carousel{
.item{
    width: 20rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: inset -1px 1px 0px 2.5px rgb(0 0 0 / 3%);
    border-radius: 1rem;
}
.alice-carousel__stage{
    li{
        .alice-carousel__stage-item{
            width: 15rem !important;
        }
    }
}
.alice-carousel__dots{
        .alice-carousel__dots-item{
            background-color: rgba(54, 54, 54, 0.301);
        }
        .alice-carousel__dots-item:not(.__custom).__active{
            background-color: #f4188d;
        }
}
.alice-carousel__prev-btn, .alice-carousel__next-btn{
    width: 50px;  
}
.alice-carousel__next-btn-wrapper, .alice-carousel__prev-btn-wrapper{
        background-color: rgb(0 0 0 / 5%);
        border: solid;
        border-color: rgb(54 54 54 / 25%);
        border-radius: 50%;
        height: 40px;
}
.alice-carousel__next-btn-wrapper:hover, .alice-carousel__prev-btn-wrapper:hover{
    background-color:#f759ad45;
    border-color: #f4188d;
}
.alice-carousel__next-btn-item, .alice-carousel__prev-btn-item{
    text-align: center;
    padding: 6px;
    *:hover {
        color: #f4188d;
    }
    span{
        width: 1.25rem;
        font-weight: 600;
        color: rgb(63, 63, 63);
        }
}
.alice-carousel__next-btn-item{
   span{
     margin-left: 4px;  
   }
}
.alice-carousel__prev-btn-item{
    span{
        margin-right: 4px;
    }
}
}

