.alice-carousel{
.item{
    width: 20rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: inset -1px 1px 0px 2.5px rgb(0 0 0 / 3%);
    border-radius: 1rem;
}

.alice-carousel__stage{
    li{
        .alice-carousel__stage-item{
            width: 15rem !important;
        }
    }
}
.alice-carousel__dots{
        .alice-carousel__dots-item{
            background-color: rgba(54, 54, 54, 0.301);
        }
        .alice-carousel__dots-item:not(.__custom).__active{
            background-color: #f4188d;
        }
}
.alice-carousel__next-btn-item, .alice-carousel__prev-btn-item{
    span{
        width: 20px;
        color: rgb(36, 36, 36);
    }
}
.alice-carousel__prev-btn, .alice-carousel__next-btn{
    width: 50px;  
}
}

