.css-1cbu1ip-MuiPaper-root{
    margin: auto;
    margin-left: 5rem;
}
.css-7nis55-MuiList-root{
    background-color: $secondary-bg-color;
    span{
        margin: 0.7rem;
        margin-top: 10px;
        font-size: 1.5rem;
    }
    .css-1mttud9{
        background-color: #2b2a2a;
    }
}
.css-1mttud9{
    padding: 1rem;
}
.css-1vaq1pa-MuiTypography-root{
    width: 50rem;
}
.css-7nis55-MuiList-root{
    width: 65rem;
}
.css-1gpfu17-MuiSvgIcon-root{
    margin-right: -50rem;
}
.css-7nis55-MuiList-root{
    .MuiSvgIcon-root{
        font-size: 1.9rem !important;
    }
}
.css-1nslqx4-MuiSvgIcon-root {
    margin-right: 2.1875rem !important;
}
//Responsive
@include for-normal-layout {
    .css-1cbu1ip-MuiPaper-root{
        margin-left: 6.5rem;
    }
    .css-1vaq1pa-MuiTypography-root{
        width: 35rem;
    }
    .css-7nis55-MuiList-root{
        width: 50rem;
    }
}
@include for-tablet-layout {
    .css-1cbu1ip-MuiPaper-root{
        margin-left: 2rem;
    }
    .css-1vaq1pa-MuiTypography-root{
        width: 25rem;
    }
    .css-7nis55-MuiList-root{
        width: 40rem;
        span{
            font-size: 1.1rem;
        };
    }
}
@include for-narrow-layout{
    .css-1cbu1ip-MuiPaper-root{
        margin-left: 1.8rem;
    }
    .css-1vaq1pa-MuiTypography-root{
        width: 15rem;
    }
    .css-7nis55-MuiList-root{
        width: 28rem;
        span{
            font-size: 1.1rem;
        }
    }
}
@include for-mobile-layout{
    .css-1cbu1ip-MuiPaper-root{
        margin-left: 0.01rem;
    }
    .css-1vaq1pa-MuiTypography-root{
        width: 13.5rem;
    }
    .css-7nis55-MuiList-root{
        width: 22rem;
    }
}