footer{
    color: $text-color;
    margin-top: 5rem;
    background-color: $secondary-bg-color;
    padding: 0 110px 1px 110px;
    .main-footer{
      max-width: 1000px;
      margin: auto;
      padding-bottom: 3.125rem;
       .footer-main-contant{
        p{
          margin-bottom: 7rem;
       }
       }
    }
    h6{
    margin: 0 0 27px 0;
   //  font-family: TacticSans-Reg;
    font-size: 16px;
    letter-spacing: 20%;
    color: $text-color;
    opacity:  0.6 !important;
    letter-spacing: 0.2em;
    }
    p{
       width: 514px;
       height: 58px;
       margin-bottom: 1.875rem;
    }
    .footer-main-contant{
       .footer-logo{
          width: 25rem;
       }
    }
    .footer-social-media-links{
      margin-top: 11.56rem;
      width: 250px;
       .linkedin-footer-link,
       .twitter-footer-link,
       .instegram-footer-link{
          margin-bottom: 33px;
          i{
             padding: 35%;
             border-radius: 24px;
             width: 3.6875rem;
             height: 3.6875rem;
             box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0rem #d502c1, 0 0 0.8rem #d502c1, 0 0 0.5rem #d502c1, inset 0 0 0.5rem #d502c1;
             color: $text-color;
            }
       }
    
       .footer-policy-links{
          width: 280px;
          a{
            //  font-family: Poppins;
             font-size: 14px;
             letter-spacing: 0.2px;
             color:  $primary-bg-color;
          }
       }
    }
    // Responsive
    @include for-normal-layout {
       p{
          width: 469px;
       }
       .main-footer{
       .footer-links,
       .footer-join-the-waitlist
       {
          margin-left: 8.125rem;
       }
       .footer-join-the-waitlist{
          p{
             width: 20rem;
          }
       .footer-email-form{
          width: 22.2rem;
          label{
             width: 15.625rem;
          }
       }
       }
    }
    }
    @include for-tablet-layout{
       footer{
         width:49.5rem;
       }
       margin: 0px;
       .main-footer{
                flex-direction: column;
                width: 41.5rem;
                height: 62rem;
             .footer-main-contant{
              p{
                height: 5rem;
              }
             }
             .footer-social-media-links{
                margin-bottom: 1.25rem;
                h6{
                   margin-bottom: 1.6rem;
                }
             }
       } 
    }
    @include for-narrow-layout {
       .main-footer{
          height: auto;
       }
    }
    @include for-mobile-layout{
       *{
          max-width: 20rem;
       }
      padding: 0%;
      margin: 0%;
       .main-footer{
         flex-direction: column;
          width: 20rem;
          height: 62rem;
          margin: 0px;
          div{
            width: 365px;
          }         
             .footer-main-contant{
                p{
                   width: 365px;
                   margin:2rem 0 2rem 1.5rem;
                 }
                 img{
                  margin-top: 55px;
                 }
             }
             .footer-social-media-links{
                margin: 2rem;
                h6{
                   font-size: 18px; 
                }
                .social-links{
                   width: 19.7rem;
                }
                .linkedin-footer-link,
                .twitter-footer-link,
                .instegram-footer-link{
                  width: 4rem;
                  height: 4rem;
                }
             }
         }
    }
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
     select:focus,
     textarea:focus,
     input:focus {
         font-size: 14px;
     }
 }