.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100vw;
    box-shadow: rgb(149 157 165 / 20%) 0px 2px 20px 1px;
}
.header-logo{
    width: 6.9rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.header-title{
    color: rgb(255, 0, 174)
}
