.header{
    display: grid;
    grid-template-columns: 8.5rem minmax( auto, $desktop-breakpoint ) 13rem;
    // grid-template-columns: 8.5rem minmax( auto, $desktop-breakpoint ) 25rem;
    backdrop-filter: blur(7px);
    align-content: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    width: 100vw;
    box-shadow: rgb(0 0 0 / 3%) 0px 2px 0px 0px;
    height: 4.5rem;
    .burger{
        grid-column: 1/2;
    }
    .header-connect-btn{
        grid-column: 3/4; 
    }
    .connected{
        color: $primary-color;
    }
}
.logo{
   grid-column: 2/3;
   margin: auto;
    .header-logo{
        width: 10rem;
    }
    .header-title{
        color: rgb(255, 0, 174)
    }
}

@include for-mobile-layout{
    .header{
        grid-template-columns: 10.5rem minmax(auto, 1200px) 7rem;
    }
    .login{
        font-weight: 200;
        height: 35px;
        padding: 0px !important;
        width: 6rem !important;
        margin: 0% !important;
    }
    .logout{
        height: 35px;
        width: 5.8rem !important;
        padding: 0px !important;
        margin: 0% !important;
        font-size: x-small;
    }
    .logo{
        margin-left: -20px;
        margin-right: 20px;
        .header-logo{
            width: 7rem;
        }
    }
    .burger{
        button{
            top: 30%;
            left: 1rem;
            width: 1.5rem;
            height: 1.5rem;
        }

    }
}

