.connect-btn{
    width: 150px;
    height: 50px;
    margin-top: 10rem;
    margin-left: 15px;
    margin-bottom: 300px;
    border-radius: 8px;
    border: none;
    background-color: rgb(255, 0, 174, 0.5);
}