.nft-list-contianer{
    width: 66rem;
    justify-content: center;
}
.nft-list{
    justify-content: center;
    > * {
        border-radius: 0.9rem;
        margin: 10px; 
    }
    > *:hover{
        box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
        transition: all 0.1s ease 0s;
    }
}
@include for-mobile-layout{
    .nft-list{
        margin: 0 0 30px 15px;
    }
}