.nft-preview{
    width: fit-content;
    align-items: center;
    background-color: $secondary-bg-color;
    height: 33rem;
    outline: none;
    text-align: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 24px;
    box-shadow: rgb(0 0 0 / 2%) 0px 0px 1px, rgb(0 0 0 / 2%) 0px 4px 8px, rgb(0 0 0 / 2%) 0px 16px 24px, rgb(0 0 0 / 2%) 0px 24px 32px;
    a{
        text-decoration: none;
    }
    .content-card{
        height: 11.875rem;
        padding: 1rem;
        width: -webkit-fill-available;
        * {
            color: $text-color;
            border-radius: 24px;
        }
        .nft-title, span{
            margin: 0.2rem 0 1rem 0;
        }
        h4{
            text-align: start;
            .eth-logo{
                width: 0.6rem;
                margin-right: 5px;
                margin-bottom: -2px;
            }
        }
    }
    .preview-modal :hover{
        background-color: rgba(255, 255, 255, 0);
         }
         button :hover{
             background-color: rgba(255, 255, 255, 0);
         }
    }
.card-btn-collection{
    margin-top: -1rem;
    width: 18.625rem ;
    border: 0.5px solid #fcfcfc;
    button {
        border: none !important;
    }
}

//modal
.content-img-card{
    .nft-img{
        margin: 5px 5px 0 5px;
        width: 13rem;
        border-radius: 0.9rem;
    }
    .nft-video{
        video{
            margin: 5px 5px 0 5px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: unset;
            width: 16rem;
            height: 19rem;
        }
    }
    .card-width{
        width: 19rem !important;
        height: 20rem !important;
    }
}
.close-modal-box-btn{
    margin: 0px;
    padding: 0px;
    right: 12%;
}
.content-card{
    h4{
        margin-bottom: 3rem;
    }
}
.content-img-modal{
    .nft-img-modal{
        width: 18rem;
        border-radius: 0.9rem;
    }
    .nft-video-modal{
        height: 26rem;
        video{
            object-fit: cover;
            width: 20.1rem;
            height: 36rem;
            margin-left: 1.5rem;
        
        }
    }
}
.nft-title, span{
    margin: 0 0 1rem 0;
}
.eth-logo{
    width: 0.7rem;
    margin-right: 5px;
    margin-bottom: -2px;
}
//Preview Modal
.css-68y8mo{
    padding: 4px !important;
}
//Mint Modal
.css-4wpkim{
    padding: 15px !important;
    .close-modal-btn{
        margin-left: -5px;
    }
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: $secondary-bg-color;
}

@include for-mobile-layout{
.content-card{
    h4{
        margin-bottom: 1.5rem;
    }
}
}




