.about-page{
    background-color: cornflowerblue;
    .about-section1{
        background-color: crimson;
    }
    .about-section2{
        background-color: darkcyan;
    }
    .about-section3{
        background-color: rgb(231, 31, 238);
    }
}