.collection-page{
    text-align: center;
    h2{
        color: $primary-color;
        font-size: 20px;
        letter-spacing: 20%;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .filter-collection{
        margin-top: 150px;
       ul{
        overflow-x: auto;
         > * {
             list-style: none;
             button{
                width: 100px;
                height: 40px;
                padding: 5px;
                text-align: center;
                color: $text-color;
                margin-right: 1.2px;
                border: none;
                border-radius: 5px;
                // background-color: -1px 1px 0px 2.5px rgb(0 0 0 / 3%);
                background-color: $secondary-bg-color;
             }
             button:hover, button:hover{
                background-color: rgba(204, 200, 200, 0.438);
             }
             button:focus{
                border-bottom: 4px solid $primary-color;
             }
             button:focus-visible {
                outline: none;
            }
            }
        }
    }
    .filter-collection::-webkit-scrollbar{
        width: 0;
    }
}

@include for-tablet-layout{
    .filter-collection{
        ul{
            width: 31.25rem;
        }
    }

}
@include for-narrow-layout{
    .filter-collection{
        ul{
            width: 19rem;
        }
    }
}
@include for-mobile-layout{
    .filter-collection{
        h2{
            font-size: 16px;
        }
        ul{
            width: 18rem;
            padding: 0px;
                button{
                    width: 75px;
                    height: 35px;
                    padding: 5px;
                    margin-right: -9px;
                }
            }
        }
    }
