.home-page{
    text-align: center;
    justify-content: center;
    padding-top: 5rem;
    background-color: $primary-bg-color;
    h2{
        // color: rgb(37, 37, 37);
        letter-spacing: 0.2em;
        font-size: 20px;
        letter-spacing: 20%;
        opacity: 0.6;
        font-weight: 400;
    }
    .hero-section{
        margin-bottom: 50px;
        // background-color: rgb(255, 255, 255);
        .account-details{
            // background-color: #e3e3e3;
            margin-bottom: -70px;
            p{
                font-size: small;
                margin: 0px;
            }
        }
        .hero-img{
            margin: auto;
            width: 350px;
        }
        .content-hero{
            text-align: start;
            margin: auto;
            width: 45rem;
            h2{
                margin-bottom: 1.125rem;
            }
        }
    }
    .cards-carousel-section{
        margin-bottom: .5rem;
        .home-carousel{
            margin-left: 5.8rem;
        }
        .collection-link-main{
            height: 2.5rem;
            color: white;
            font-weight: 400;
            text-decoration: none;
            background-color: #ff01ae;
            border: solid;
            border-color: rgb(0 0 0 / 5%);
            width: 13rem;
            margin: auto;
            padding: .415rem;
            border-radius: 8px;
            margin-top: 10px;
        }
        .collection-link-main:hover{
            background-color:$primary-color;
        }
    }
    .eco-system-section{
        .p-description{
            margin-left: 15rem;
            margin-right: 15rem;
        }
        .item-types{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            > * {
                border: 1px solid rgb(229, 232, 235);
                border-radius: 0.9rem;
                padding: 15px;
                margin: 8px; 
                text-align: start;
                img{
                    width: 115px;
                } 
            }
            // > *:hover{
            //     box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
            //     transition: all 0.1s ease 0s;
            // }
        }
    }
    .road-map-section{
        .p-description{
            margin-left: 15rem;
            margin-right: 15rem;
        }
        .road-map{
            > * {
                border: 1px solid rgb(229, 232, 235);
                border-radius: 0.9rem;
                padding: 15px;
                margin: 8px;
                text-align: start; 
                img{
                    width: 100px;
                } 
            }
            // > *:hover{
            //     box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
            //     transition: all 0.1s ease 0s;
            // }
        }
    }
    .team-section{
        .title{
            max-width: 1201px;
        h2{
            letter-spacing: 0.2em;
            // font-family:TacticSans-Reg;
            font-size: 20px;
            letter-spacing: 20%;
            color: $text-color;
            opacity: 0.6;
        }
        p{
            margin-bottom: 0px;
        }
    }
        .members{
            justify-content: center;
            margin-top: 39px;
            // overflow-x: auto;
            h3{
                font-size: 25px;
                text-transform: uppercase;
                // font-family: Poppins;
                font-style: SemiBold;
            }
            h4{
                // font-family: Poppins Light;
                font-style: lighter;
                font-size: 16px;
                color: $primary-color;
            }
            P{
                // width: 220px;
                // font-family: Antikor Mono;
                font-size: 16px;
                color: $text-color;
                opacity:  0.6;
            }
            img{
                width: 220px;
                height: 220px;
                border: 1px solid rgb(229, 232, 235);
                border-radius: 0.9rem;
            }
            .members *{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .member-img{
            position:relative; 
            }
            .linkedin-team-link{
            width: 40px;
            height: 40px;
            background-image: url('../../assets/img/LinkedinTeam.png');
            position:absolute;
            bottom: 18px;
            right: 18px;
            }
            .linkedin-team-link:hover{
            background-image: url('../../assets/img/LinkedinTeamHover.png');
            }
            img{
                margin-right: 0px;
            }
        .member1 *,
        .member2 *,
        .member3 *,
        .member4 *{
        margin: .5rem 0.6rem 0.6rem 0.6rem ;
        }
    }
    .members::-webkit-scrollbar{
        width: 0;
    }
    }
}
// Responsive
@include for-normal-layout{
    .home-page{
        justify-content: center;
        .hero-section{
            margin: auto;
            width: 80%;
        }
        .eco-system-section{
            .p-description{
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
        .team-section{
            .members{
                // width: 71%;
                img{
                    height: 200px;
                }
                .member1 * ,
                .member2 *,
                .member3 *,
                .member4 *{
                margin: 0 1.5625rem .70rem 0 ;
                width: 12.5rem;
                }
                .linkedin-team-link{
                    bottom: 1.1875rem;
                    background-repeat: no-repeat;
                    left: 9rem;
                }
            }
          h3{
            font-size: 21px;
          }
        }
    }
}
@include for-tablet-layout{
    .home-page{
        justify-content: center;
        .hero-section{
          flex-direction: column;
          h2, p {
              text-align: center;
              width: 80%;
          }
        }
        .cards-carousel-section {
            .home-carousel {
                margin-left: 1.5rem;
                .alice-carousel .alice-carousel__next-btn {
                    margin-right: 1.625rem;
                }
            }
        }
        .eco-system-section{
            .p-description{
                margin: 1.25rem 0 1.25rem 0 ;
            }
        }
        .road-map-section{
            .p-description{
                margin: 1.25rem 0 1.25rem 0 ;
            }
        }
        .team-section{
            .members{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .linkedin-team-link{
                    right: 44px;
                }
            }
            // .members > *{
            //     p{
            //         margin: 0px;
            //     }
            // }
        }
    }
}
@include for-narrow-layout{
    .home-page{
        justify-content: center;
        .hero-section{
          flex-direction: column;
          .content-hero{
              text-align: center;
              width: auto;
          }
        }
        .cards-carousel-section{
            margin:auto
        }
        .eco-system-section{
            .p-description{
                margin: auto;
            }
            .item-types > *{
                flex-direction: column;
            }
        }
        .road-map-section{
            .p-description{
                margin: auto;
            }
        }
        .team-section{
            .members{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .linkedin-team-link{
                    right: 1.1875rem;
                }
            }
        }
    }
}
@include for-mobile-layout{
    .home-page{
        justify-content: center;
        .hero-section{
            flex-direction: column;
            .content-hero{
                width: auto;
                text-align: center;
            }
            .hero-img{
                width: 15.5rem;
                margin: auto;
            }
            p{
                width: 18.2rem;
            }
        }
        .cards-carousel-section{
            margin-left: -20px;
            .home-carousel{
                margin: 0px;
                div{
                    .alice-carousel{
                        div{
                            .alice-carousel__wrapper{
                                left: 10%;
                            }
                        }
                            .alice-carousel__next-btn{
                                margin: 0px;
                            }
                    }
                }
                }
            }
        .eco-system-section{
            margin-left: -20px;
            .p-description{
                margin: auto;
            }
            .item-types > *{
                flex-direction: column;
            }
        }
        .road-map-section{
            .p-description{
                margin: 0px;
                padding: 10px;
            }
        }
        .team-section{
            overflow-x: inherit;
            .members{
                display: grid;
                grid-template-columns: 1fr;
                .linkedin-team-link{
                    right: 2.375rem;
                }
            }
        }
    }
}