.home-page{
    text-align: center;
    padding-top: 5rem;
    background-color: rgb(255, 255, 255);
    h2{
        color: rgb(37, 37, 37);
        letter-spacing: 0.2em;
        font-size: 20px;
        letter-spacing: 20%;
        opacity: 0.6;
        font-weight: 400;
    }
    .hero-section{
        margin-bottom: 50px;
        background-color: rgb(255, 255, 255);
        .account-details{
            background-color: #e3e3e3;
            margin-bottom: -70px;
            p{
                font-size: small;
                margin: 0px;
            }
        }
        .hero-img{
            margin: auto;
            width: 350px;
        }
        .content-hero{
            text-align: start;
            margin: auto;
            width: 45rem;
            h2{
                margin-bottom: 1.125rem;
            }
        }
    }
    .cards-carousel-section{
        margin-bottom: .5rem;
        .home-carousel{
            margin-left: 5.8rem;
        }
        .collection-link-main{
            height: 2.5rem;
            color: white;
            font-weight: 400;
            text-decoration: none;
            background-color: #ff01ae;
            border: solid;
            border-color: rgb(0 0 0 / 5%);
            width: 13rem;
            margin: auto;
            padding: .415rem;
            border-radius: 8px;
            margin-top: 10px;
        }
        .collection-link-main:hover{
            background-color:#ff01ae9c;
        }
    }
    .eco-system-section{
        .p-description{
            margin-left: 15rem;
            margin-right: 15rem;
        }
        .item-types{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            > * {
                border: 1px solid rgb(229, 232, 235);
                border-radius: 0.9rem;
                padding: 15px;
                margin: 8px; 
                text-align: start;
                img{
                    width: 115px;
                } 
            }
            // > *:hover{
            //     box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
            //     transition: all 0.1s ease 0s;
            // }
        }
    }
    .road-map-section{
        grid-row: 4/5;
        .p-description{
            margin-left: 15rem;
            margin-right: 15rem;
        }
        .road-map{
            > * {
                border: 1px solid rgb(229, 232, 235);
                border-radius: 0.9rem;
                padding: 15px;
                margin: 8px;
                text-align: start; 
                img{
                    width: 100px;
                } 
            }
            // > *:hover{
            //     box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
            //     transition: all 0.1s ease 0s;
            // }
        }
    }
    .team-section{
        .title{
            max-width: 1201px;
        h2{
            letter-spacing: 0.2em;
            // font-family:TacticSans-Reg;
            font-size: 20px;
            letter-spacing: 20%;
            color: $text-color;
            opacity: 0.6;
        }
        p{
            margin-bottom: 0px;
        }
    }
        .members{
            justify-content: center;
            margin-top: 39px;
            overflow-x: auto;
            h3{
                font-size: 25px;
                text-transform: uppercase;
                // font-family: Poppins;
                font-style: SemiBold;
            }
            h4{
                // font-family: Poppins Light;
                font-style: lighter;
                font-size: 16px;
                color: $primary-color;
            }
            P{
                width: 220px;
                // font-family: Antikor Mono;
                font-size: 16px;
                color: $text-color;
                opacity:  0.6;
            }
            img{
                width: 220px;
                height: 220px;
                border: 1px solid rgb(229, 232, 235);
                border-radius: 0.9rem;
            }
            .members *{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            // .member-img{
            //     height: 223px;
            //      --b: 1px;   
            //      --c:#ff00ae; 
            //      --w:10px;
            //     border:var(--b) solid transparent;
            //     background:
            //     linear-gradient(var(--c),var(--c)) top left,
            //     linear-gradient(var(--c),var(--c)) top left,
            //     linear-gradient(var(--c),var(--c)) bottom left,
            //     linear-gradient(var(--c),var(--c)) bottom left,
            //     linear-gradient(var(--c),var(--c)) top right,
            //     linear-gradient(var(--c),var(--c)) top right,
            //     linear-gradient(var(--c),var(--c)) bottom right,
            //     linear-gradient(var(--c),var(--c)) bottom right;
            //     background-size:var(--b) var(--w),var(--w) var(--b);
            //     background-origin:border-box;
            //     background-repeat:no-repeat;
            // }
            .member-img{
            position:relative; 
            }
            .linkedin-team-link{
            width: 40px;
            height: 40px;
            background-image: url('../../assets/img/LinkedinTeam.png');
            position:absolute;
            bottom: 18px;
            right: 18px;
            }
            .linkedin-team-link:hover{
            background-image: url('../../assets/img/LinkedinTeamHover.png');
            }
            img{
                margin-right: 0px;
            }
        .member1 *,
        .member2 *,
        .member3 *,
        .member4 *{
        margin: 0 0.6rem 0.6rem 0.6rem ;
    }
    }
    .members::-webkit-scrollbar{
        width: 0;
    }
    }
}
// Responsive
@include for-normal-layout{
    .home-page{

        .hero-section{
            margin: auto;
            width: 80%;
        }
        .cards-carousel-section{
            width: 80%;
            margin: auto;
        }
        .eco-system-section{
            .p-description{
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}
@include for-tablet-layout{
    .home-page{
        .hero-section{
          flex-direction: column;
        }
    }
}
@include for-narrow-layout{
    .home-page{
        .hero-section{
          flex-direction: column;
        }
        .cards-carousel-section{
            margin:auto
        }
        .collection-data-section{
            .table-collection-data{
                width: 23rem;
                margin-top: 1rem;
            }
        }
    }
}
@include for-mobile-layout{
    .home-page{
        .hero-section{
            .hero-img{
                width: 300px;
            }
            flex-direction: column;
        }
        .cards-carousel-section{
            .alice-carousel{
                width: 90vw;
            }
        }
        .collection-data-section{
            .table-collection-data{
                width: 90vw;
                padding: 60px;
                margin-bottom: 200px;
            }
        }
    }
}