.home-page{
    background-color: aquamarine;
    .hero-section{
        background-color: burlywood;
        h1{
            color: blueviolet;
        }
    }
    .home-section2{
        background-color: darkgoldenrod;
    }
    .home-section3{
        background-color: darkorchid;
    }
}