* {
    box-sizing: border-box;
  }
::selection {
    background-color: $primary-color;
    color: $text-color;
}
html {
    // background-color: $primary-bg-color;
  background-color: $primary-bg-color;
    font-family: Figgins;
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-color;
  text-transform: uppercase;
}
p{
  color: $text-color;
}
input,
select,
a,
button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem;
}
// button {
// // background-color:rgba(72, 172, 186, 0.365);
// background-color: rgba(202, 200, 200, 0.411);
// border-radius: 0.5rem;

// margin: 0 1rem 0 1rem;
// border: none;
// } 
//  button:hover{
//   background-color: #9efcf6;
// }