* {
    box-sizing: border-box;
  }
::selection {
    background-color: $primary-color;
    color: $text-color;
}
html {
  background-color: $primary-bg-color;
  }
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-weight: 300;
    letter-spacing: 1px;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-color;
  text-transform: uppercase;
  font-family: 'Neon-Tubes';
}
p{
  color: $text-color;
  font-size: larger;
  opacity: 0.8;
}
input,
select,
a,
button {
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Neon-Tubes';
}
.loader{
  text-align: center;
  margin-bottom: 200px;
}
@include for-mobile-layout{
  p{
    font-size: large;
  }
}