.primery-btn{
    font-weight: 500;
    width: 10rem;
    padding: 1rem;
    // margin: auto;
    // margin-top: 25px;
    border-radius: 24px;
    background-image: linear-gradient(to right, rgb(1, 110, 218), rgb(217, 0, 192)55%);
    background-size: 200%;
    border: 0px;
    transition: all 0.5s ease-in-out 0s;
    color: $text-color;
}
.mint-main-btn{
    // background-color: #046dda !important;
    background-color:$secondary-bg-color !important;
    border: 0.5px solid #fcfcfc !important;
    width: 12rem !important;
}
.opensea-btn{
    background-color: $secondary-bg-color;
    border: 0.5px solid #fcfcfc !important;
    width: 12rem;
    padding: 10px 8px;
    border-radius: 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-size: 0.875rem;
    color: $text-color;
}
.close-modal-btn{
    font-weight: 900;
    font-size: 1.5625rem;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    background-color: $secondary-bg-color;
    border: none;
    color: $text-color;
}
.start-btn{
    margin-top: .625rem;
    margin-left: 5rem;
}
.connect-btn{
    font-weight: 500;
    width: 10rem;
    padding: 1rem;
    border-radius: 24px;
    background-size: 200%;
    border: 0.5px solid $text-color;
    background-color: rgb(0 0 0 / 3%);
    backdrop-filter: blur(7px);
    color: $text-color;   
    // box-shadow: 0 0 0.1rem #f3a975, 0 0 0.1rem #fff, 0 0 0rem #ca8656, 0 0 0.5rem #ca8656, 0 0 0.2rem #ca8656, inset 0 0 0.5rem #ca8656;
    // box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0rem #d502c1, 0 0 0.8rem #d502c1, 0 0 0.5rem #d502c1, inset 0 0 0.5rem #d502c1;
}

// .connect-btn:hover{
//     background-color: #ea3a9e46;
// }
// .minted{
//     color: $text-color;
//     background-color: rgba(202, 200, 200, 0.411);
// }
// .minted:hover{
//     background-color: rgba(202, 200, 200, 0.856);
// }

