.primery-btn{
    font-weight: 500;
    width: 10rem;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(
    95.5deg, rgba(15, 53, 255, 0.3) 12.82%, rgba(255, 72, 181, 0.3) 41.96%, rgba(15, 53, 255, 0.08) 75.06%, rgba(15, 53, 255, 0.11) 107.66%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: rgb(53 55 58) 1px 1000px 1px inset;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 1rem #bc13fe, inset 0 0 1.3rem #bc13fe;
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.1);
    color: $text-color;
}
.primery-btn:hover{
    background-color: rgba(202, 200, 200, 0.856);
}
// .minted{
//     color: $text-color;
//     background-color: rgba(202, 200, 200, 0.411);
// }
// .minted:hover{
//     background-color: rgba(202, 200, 200, 0.856);
// }

