// FLEX HELPERS
.flex {
    display: flex;
    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}
// MARGIN
.margin-auto{
    margin: auto;
}
.margin-zero{
    margin: 0px;
}
// GRADIENT COLOR
.gradient-color{
    background: -webkit-linear-gradient(#d223a6, #e88c51, #f7c926);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }