// FLEX HELPERS
.flex {
    display: flex;
    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
}
// COLORS
.secondary-color{
    background-color: blue;
    color: $secondary-color;
}
.primary-color{
    background-color: brown;
    color: $primary-color;
}