.home-page{
    display: grid;
    grid-template-columns: 8.5rem minmax( auto, $desktop-breakpoint ) 8.5rem;
    grid-template-rows: 580px 700px 1500px 1000px 750px 1100px;
    section{
        grid-column: 2/3;
    };
}
.collection-page{
    display: grid;
    grid-template-columns: 8.5rem minmax( auto, $desktop-breakpoint ) 8.5rem;
    grid-template-rows: 280px 2fr;
    section{
        grid-column: 2/3;
    };
    .filter-collection{
        grid-row: 1/2;
    }
}
// Responsive
@include for-wide-layout {
    .home-page,.collection-page{
            justify-content: center;
    }
}
@include for-normal-layout {
    .home-page,.collection-page{
    justify-content: center;
    grid-template-columns:
    3.75rem
    minmax(auto, $tablet-breakpoint)
    3.75rem;
    }
    .home-page{
        grid-template-rows: 620px 750px 1500px 1150px 580px
    }
}
@include for-tablet-layout {
    .home-page, .collection-page{
        grid-template-columns: 
        2.75rem
        minmax(auto, 43.75rem)
        2.75rem;
    }
    .home-page{
        grid-template-rows: 860px 750px 2000px 1350px 1100px;
    }
}
@include for-narrow-layout{
    .home-page,.collection-page{
        grid-template-columns: 1.5rem minmax(auto, 31rem) 1.5rem;
    }
    .home-page{
        grid-template-rows:  820px 730px 2200px 1750px 1100px;
    }
}
@include for-mobile-layout {
     .home-page,.collection-page{
        grid-template-columns: 1rem minmax( auto, 341px ) 1rem ;
        padding: 0%;
    }
    .home-page{
        padding: 0%;
        grid-template-rows: 900px 800px 3100px 2300px 1450px;
    }
    .collection-page{
        grid-template-rows: 255px 2fr;
    }
}

