.home-page,.about-page{
    display: grid;
    grid-template-columns: 7.5rem minmax( auto, $desktop-breakpoint ) 7.5rem;
    grid-template-rows: 430px 680px 600px;
    section{
        grid-column: 2/3;
    };
}
// Responsive
@include for-wide-layout {
    .home-page,.about-page{
            justify-content: center;
    }
}
@include for-normal-layout {
    .home-page,.about-page{
    justify-content: center;
    grid-template-columns:
    3.75rem
    minmax(auto)
    3.75rem;
    }
}
@include for-tablet-layout {
    .home-page,.about-page{
        grid-template-columns: 
        3.75rem
        minmax(auto, 42.5rem)
        3.75rem;
    }
    .home-page{
        grid-template-rows: 580px 580px 600px
    }
}
@include for-narrow-layout{
    .home-page,.about-page{
        grid-template-columns: 1.5rem minmax(auto, 32rem) 1.5rem;
    }
    .home-page{
        grid-template-rows: 620px 580px 500px
    }
}
@include for-mobile-layout {
    .home-page,.about-page{
        grid-template-columns: 1.5rem minmax( auto, 22.7rem ) 1.5rem;
    }
    .home-page{
        grid-template-rows:600px 585px 600px;
    }
}