// HEADLINE
@font-face {
    font-family: 'Figgins_Bold';
    src: url("../../assets/font/Figgins_Bold.otf");
}
@font-face {
    font-family: 'Figgins_ExtraBold';
    src: url("../../assets/font/Figgins_ExtraBold.otf");
}
@font-face {
    font-family: 'Figgins_Italic';
    src: url("../../assets/font/Figgins_Italic.otf");
}
// BACE
// Figgins
@font-face {
    font-family: 'Figgins';
    src: url("../../assets/font/Figgins.otf");
}

