// Main Colors
$primary-color:#825AFF;
$primary-bg-color:#0A0B0D;
$text-color:#FFFFFF;
$primary-dark-color:#2E2355;

// Additional Colors
$secondary-color:#FC440F;
$third-color:#46D7D7;
$clr8:#531C0D;

// Breakpoints
$mobile-breakpoint: 538px;
$narrow-breakpoint: 712px;
$tablet-breakpoint: 1000px;
$desktop-breakpoint: 75rem;
