// Main Colors
$primary-color:#d502c1;
$primary-dark-color:#323437;
$primary-bg-color:#0a0b0d;
$secondary-bg-color: #1c1c1d;
$text-color:#fcfcfc;

// Additional Colors
$secondary-color:#FC440F;
$third-color:#46D7D7;
$clr8:#531C0D;

// Breakpoints
$mobile-breakpoint: 33.625rem;
$narrow-breakpoint: 44.5rem;
$tablet-breakpoint: 62.5rem;
$desktop-breakpoint: 1200px;
