// Main Colors
// $primary-color:#f4188d;
$primary-color:#fcea0d;
$primary-bg-color:#0a0b0d;
$secondary-bg-color: #333333;
$text-color:#fcfcfc;
$primary-dark-color:#979798;

// Additional Colors
$secondary-color:#FC440F;
$third-color:#46D7D7;
$clr8:#531C0D;

// Breakpoints
$mobile-breakpoint: 538px;
$narrow-breakpoint: 712px;
$tablet-breakpoint: 1000px;
$desktop-breakpoint: 75rem;
